@model IEnumerable<StoreApp.Models.Item>
@{
    ViewData["Title"] = "Goods";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="float-right">
    <div class="row mb-2">
        @using (Html.BeginForm("Goods", "Home", FormMethod.Post))
        {
            @Html.Label("Ціна")
            <input type="text" class="mr-2" name="from" value="@ViewBag.FromValueText" />
            <input type="text" class="mr-2" name="to" value="@ViewBag.ToValueText" />
            <input type="submit" class="mr-2" value="OK" />
        }
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>
                    @using (Html.BeginForm("Goods", "Home", FormMethod.Post))
                    {
                        @Html.ActionLink("More", "Details", "Home", new { id = item.Id }, new { @class = "btn btn-info mx-2" })
                        @Html.ActionLink("Buy", "Buy", "Home", new { id = item.Id }, new { @class = "btn btn-success" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<item count="@Model.Count()"></item>

<style>
    .table td, th {
        text-align: center;
    }
</style>