@model PaginatedList<StoreApp.Models.Item>


@{
    ViewData["Title"] = "Товари";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row align-items-center">
    <div class="col">
        <a class="btn btn-success" asp-controller="Home" asp-action="Create">Додати</a>
    </div>
    <div class="col">
        <div class="float-right">
            <div class="row mb-2">
                @using (Html.BeginForm())
                {
                    <p>
                        <div class="input-group mb-3">
                            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Введіть запит" })
                            <div class="input-group-append">
                                <input class="btn btn-outline-secondary" type="submit" value="Пошук" />
                            </div>
                        </div>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.ActionLink("ID", "Goods", new { sortOrder = ViewBag.IdSortParm })</th>
            <th scope="col">@Html.ActionLink("Назва", "Goods", new { sortOrder = ViewBag.TitleSortParm })</th>
            <th scope="col">Опис</th>
            <th scope="col">@Html.ActionLink("Ціна", "Goods", new { sortOrder = ViewBag.PriceSortParm })</th>
            <th scope="col">Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>
                    @using (Html.BeginForm("Goods", "Home", FormMethod.Post))
                    {
                        <div class="d-grid gap-2 d-md-block">
                            @Html.ActionLink("Деталі", "Details", "Home", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Редагувати", "Edit", "Home", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Видалити", "Delete", "Home", new { id = item.Id }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Купити", "Buy", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row align-items-center">
    <div class="col">
        <item count="@Model.Count()"></item>
    </div>
    <div class="col">
        <div class="float-right">
            <div class="row">
                <div class="col">
                    <a asp-action="Goods"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Назад
                    </a>
                </div>
                <div class="col">
                    <a asp-action="Goods"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Вперед
                    </a>
                    </div>
                </div>
            </div>
    </div>
</div>

<style>
    .table td, th {
        text-align: center;
    }
</style>
